@model ImageUploader.Models.ImageViewModel

<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {

            <h4>Upload Image</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    <input type="file" name="profileFile" id="profileFile" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4">
                    <a href="#" class="thumbnail">
                        <img id="uploading" src="" alt="uploading image">
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btnbtn-default" value="Submit" />
                </div>
            </div>
        }

    </div>
    <div class="col-lg-6">
        <h4>Uploaded Images</h4>
        <hr />
        <div class="row">
            @foreach (var image in Model.FileInfos)
            {

                <div class="col-lg-3 thumbnail" >
                    <img src="~/images/@image.Name" alt="@image.Name" class="img-circle">
                </div>
            }

        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/index.js")
}    